@import "tailwindcss";
@import "@radix-ui/themes/styles.css";
:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 243, 244, 246;
    --pr-color: #1F65B3;
    --pr-color-light: #CED8E9;
}
  
body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}
    
